<%- include('partials/header') %>
<main>
    <h1>About Our Sun Shop</h1>

    <img class="bouquet1-picture" src="https://cdn.pixabay.com/photo/2013/07/30/12/25/bouquet-168831_1280.jpg" alt="bouquet of flowers" style="max-width: 200px;">


    <p>Hello! Welcome to our Sun Shop website.</p>

    <p>
        We pride ourselves on sourcing our flowers locally from nearby farms. 
        This ensures the freshest blooms possible for every bouquet and arrangement we create.
    </p>

    <p>
        Each arrangement is carefully designed to be visually stunning and tailored to your unique preferences. 
        Whether you're celebrating a special occasion or simply want to brighten someone’s day, we’re here to help you express it beautifully with flowers.
    </p>
</main>
<%- include('partials/footer') %>
